<% if book.available_stock_count.positive? %>
  <span class="badge badge-success"><%= book.available_stock_count %>/<%= book.stock_count %></span>
<% else %>
  <span class="badge badge-error">0/<%= book.stock_count %></span>
<% end %>
