<% if @books.any? %>
  <% @books.each do |book| %>
  <div class="book">
    <%= link_to book.title, book_path(book) %>
    <p><%= book.isbn %></p>
    <p><%= book.published_year %></p>
    <p><%= book.publisher %></p>
  </div>
  <% end %>
<% else %>
  <p>本は見つかりませんでした。</p>
<% end %>
