<% if page.current? %>
  <span class="join-item btn btn-sm btn-active" aria-current="page"><%= page %></span>
<% else %>
  <%= link_to page, url, rel: page.rel, class: "join-item btn btn-sm" %>
<% end %>
